body {
    background: rgb(255, 255, 255);
    margin: 20px;
    padding: 0;
}
nav {
    display: flex;
    background: white;
    align-items: center;
    justify-content: space-between;
    height: 130px;
    
}
.box {
    display: flex;
    margin-left: 90px;
    
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
}
li {
    margin: 0px 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.logo {
    
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.logo-img {
    height: 70px;
    margin-top: 8px;
}

.sub {
    background: rgb(33, 33, 214);
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 16px;
    
    padding-top: 10px;
    font-size: 15px;
}

.link {
    height: 30px;
    width: 40px;
    color: white;
    background: black;
    padding-top: 10px;
    font-size: 20px;
}

.main-image {
    
    margin-left: 60px;
    width: 100%;
    height: 900px;
    background: url('./images/main.jpg');
    background-size: cover;
    overflow: hidden;
}
.image-text {

}